
// ================================================
// Sizing
// ================================================

$unit-basic: 18px;
$unit-font: $unit-basic;
$unit-container: 960px;
$unit-spacing: $unit-basic * 2;
$unit-line-height: 1.4;

// ================================================
// Colors
// ================================================

$color-primary: #0e0e0e;
